<ul class="">
  {{!-- <li>{{this.name}}</li>
  <li>{{this.age}}</li>
  <li>{{this.zipCode}}</li>
  <li>{{this.gender}}</li> --}}
  <div class="row">
  {{#each results}}
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-1/c0.40.160.160a/p160x160/31265617_10214597672030484_1078431268281249933_n.jpg?_nc_cat=107&_nc_ht=scontent-dfw5-2.xx&oh=2d032776eb40dff3b7ed11bb20480210&oe=5D3CD3EA">
          <span class="card-title">{{this.name}}</span>
        </div>
        <div class="card-content">
          <p>Age: {{this.age}}</p>
          <p>Gender: {{this.gender}}</p>
          <p>Zipcode: {{this.zipcode}}</p>
           <p>Email: {{this.email}}</p>
        </div>
        <div class="card-action">
          <a href={{this.fb}}>This is a link</a>
        </div>
      </div>
    </div>
  {{/each}}
</ul>
  </div>