<ul class="">
  {{!-- <li>{{this.name}}</li>
  <li>{{this.age}}</li>
  <li>{{this.zipCode}}</li>
  <li>{{this.gender}}</li> --}}
  <div class="row">
  {{#each results}}
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.cnn.com/cnnnext/dam/assets/161201115958-68-year-in-pictures-2016-restricted-super-169.jpg">
          <span class="card-title">{{this.name}}</span>
        </div>
        <div class="card-content">
          <p>Age: {{this.age}}</p>
          <p>Zipcode: {{this.zipcode}}</p>
           <p>Email: {{this.email}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  {{/each}}
</ul>
  </div>